<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div id = 'text_box'>
	<form {{action 'save_question' on='submit'}}>
		{{textarea id = 'text_area' autofocus = "autofocus" placeholder = "What is your question today?" value = question_value}}<br>
		{{input type = 'submit' value = 'Submit' id = 'submit_button' disabled = (if question_value false true)}}
	</form>
</div>
<br>
<div id = 'question_area_id'>
	{{#each model as |ques|}}
		<p class = 'question_text'>{{ques.question}}</p>
		<span id = 'question_time'>Created at : {{date-formatter ques.question_timestamp}}</span>
	{{/each}}
</div>